[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
softioc = "*"
epicsdbbuilder = {editable = true,git = "https://github.com/dls-controls/epicsdbbuilder.git",ref = "info"}
p4p = "*"

[dev-packages]
mypy = "*"
flake8 = "*"
black = "*"

[pipenv]
allow_prereleases = true
